* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1b2845;
}
div {
  height: 60vh;
  width: 20vw;
  text-align: center;
  background-color: #f8f0fb;
  text-overflow: ellipsis;
}

.side-a img {
  width: 80%;
  height: 60%;
  margin: 30px auto;
  border-radius: 45%;
  border: 3px solid rgb(238, 49, 238);
}

section {
  width: 100%;
  height: 100vh;
  perspective: 800px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.side-a,
.side-b {
  position: absolute;
  backface-visibility: hidden;
  border: 3px solid rgb(228, 0, 0);
  border-radius: 5px;
}

.side-a {
  /* background-color: aquamarine; */
  z-index: 1;
}

.side-b {
  background-color: #e3f2fd;
  transform: rotateY(180deg);
}

.side-b h2 {
  padding: 5%;
  font-size: 2.5rem;
  font-weight: bold;
  color: darkslateblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-size: 0.8rem;
}
.wrap {
  transition: 1s;
  transform-style: preserve-3d;
  margin: auto 10px;
}

.wrap:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.wrap:nth-of-type(2n + 1):hover {
  transform: rotateY(-180deg);
  cursor: pointer;
}

@media (max-width: 1039px) {
  section {
    width: 100%;
    height: 100vh;
    /* perspective: 800px; */
    flex-wrap: wrap;
  }
  div {
    height: 60vh;
    width: 20vw;
    text-align: center;
    /* padding-top: 20% */
  }
  p {
    font-size: 0.8rem;
  }
  .side-b h2 {
    padding: 5%;
    font-size: 1.5rem;
  }
}
